@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

:root {
  --background-color: #EEE5E9;
  --text-color: #32292F;
  --primary: #A90F4A;
  --secondary: #826AED;
  --secondary-rgb: 130, 106, 237;
  --border-radius: 0.25rem;
}

*:focus {
  box-shadow: 0 0 0 3px var(--background-color), 0 0 0 0.3rem var(--secondary);
  border-radius: var(--border-radius);
  outline: none;
}
html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main,
header,
footer {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  box-shadow: 20px 20px 0 rgba(var(--secondary-rgb), 0.22);
  border: 0.15rem solid var(--secondary);
  width: 100%;
  max-width: 40rem;
}

a {
  color: var(--primary);
}

main > * {
  margin: 1rem 2rem;
}

header {
  align-items: center;
  padding: 1rem 0;
}

footer > p {
  margin: 2rem 1rem;
}

h1,
h2 {
  font-weight: 700;
  line-height: 2rem;
}

img {
  max-width: calc(320rem / 16);
  width: calc(100vw - 5rem);
}
.nav-list {
  list-style-type: none;
  margin: 0;
}

.nav-list > li {
  display: inline;
  padding: 1rem;
  margin-left: 0;
  padding-left: 0;
}

.signal-details {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
}
